body {
    background-color: lightcoral;
}

#coffees {
}

#name{
    font-family: 'Amatic SC', cursive, sans-serif;
    font-size: 50px;
}

h6 {
    color: gray;
}

.amatic {
    font-family: 'Amatic SC', cursive, sans-serif;
    font-size: 50px;
}

.small-amatic{
    font-family: 'Amatic SC', cursive, sans-serif;
    font-size: 35px;
}